code[class*="language-"], pre[class*="language-"] {
    text-shadow: 0 0;
}

#book-search-input {
    background-color: transparent;
}

.color-theme-2 li.versions-select select {
    background-color: transparent;
    color: #c1c6d7;
}

.markdown-section sup {
    font-size: 0.7em;
    font-style: italic;
}

.markdown-section h1, .markdown-section h2 {
    border-bottom: 1px solid #ccc;
}

.markdown-section blockquote {
    background-color: #4686c517;
    padding: 18px;
    border-left: 10px solid #4686c54f;
    color: inherit;
}
